.navbar {
  align-items: center;
  background-color: hsl(0, 0%, 25%);
  box-shadow: 1px 1px 4px hsla(0, 0%, 50%, 40%);
  display: flex;
  height: 4rem;
  justify-content: center;
}

.link {
  margin: 0 2rem;
}

@media screen and (max-width: 768px) {
  .link {
    margin: 1rem;
  }

  .menu {
    color: hsl(0, 0%, 95%);
    font-size: 3rem;
    padding: 0 1rem;
    transition: all 350ms ease;

    &.active {
      color: hsl(0, 0%, 70%);
      transform: rotate(90deg);
    }
  }

  .menu-content {
    animation-name: menuAnimation;
    animation-duration: 200ms;
    background-color: hsla(0, 0%, 30%, 95%);
    display: flex;
    flex-flow: column;
    left: 0;
    position: absolute;
    top: 64px;
    transition: all 200ms ease;
    width: max-content;
    z-index: 10;
  }

  .navbar {
    justify-content: flex-start;
  }

  @keyframes menuAnimation {
    from {
      opacity: 0;
      top: 16px;
    }

    to {
      opacity: 1;
      top: 64px;
    }
  }
}
