.content {
  animation: fadeIn 800ms ease-in-out;
  font-family: Nunito, sans-serif;
  font-weight: 500;
  padding: 1rem;
}

app-progress-bar {
  margin: 0rem 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
